---
import { getProductByID } from "../../utils/shopify";
import { getBookBySKU } from "../../api/api";
import { setCache } from "../../utils/cache";
import { books } from "../../constants/ids";

import Layout from "../../layouts/Layout.astro";
import { ImageContainer, TextContainer } from "../../components/Product";

const { handle } = Astro.params;
console.log(handle);

const x = books[handle];

const { ID, SKU } = x;

const headers = Astro.request.headers;
const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;

const [shopifyProduct, airtableData] = await Promise.all([
  getProductByID({
    id: `gid://shopify/Product/${ID}` || "",
    buyerIP: ip,
  }),
  getBookBySKU(SKU),
]);

if (!shopifyProduct) {
  Astro.response.status = 404;
}

setCache.short(Astro);
---

<Layout>
  <section class="md:grid md:grid-cols-[3fr,2fr] md:gap-4">
    <div>
      <ImageContainer data={airtableData} />
    </div>
    <div>
      <TextContainer
        airtableData={airtableData}
        shopifyProduct={shopifyProduct}
      />
    </div>
  </section>
</Layout>
