---
import { Image } from 'astro:assets';
const {images} = Astro.props;
console.log(images);

---

<div>
    {images.map((image) => 
        <Image
          src={image.url}
          width={image.width}
          height={image.height}
          class="hidden md:block mb-0"
        />
      )
    }
  </div>