---
import { unslugify } from "../../utils/common";

const categoryMap = {
  sale: "bg-purple-400",
  funding: "bg-green-400",
  new: "bg-primary-100",
  "sold-out": "bg-red-400",
  "final-copies": "bg-orange-400",
};

const { categories } = Astro.props;
const category = categories.find((cat) =>
  Object.keys(categoryMap).includes(cat)
);
---

{
  category ? (
    <div
      class={`absolute right-0 top-0 block rounded-bl rounded-tr px-2 py-1 text-xs uppercase tracking-wider text-white ${categoryMap[category]}`}
    >
      {unslugify(category)}
    </div>
  ) : null
}
