---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint | The Velvet Cell">
  <div class="grid place-items-center">
    <div class="my-4 w-2/4">
      <h3 class="text-xl font-bold">Statement in compliance with § 5 TMG</h3>
      <p>
        The Velvet Cell, Éanna de Fréine, Transvaalstr 11, 13351, Berlin Germany
      </p>
      <h3 class="text-xl font-bold">Contact</h3>
      <p>Phone: 0049.764.201 4387, eanna@thevelvetcell.com</p>
      <h3 class="text-xl font-bold">VAT registration number</h3>
      <p>
        VAT registration number in compliance with § 27 UStG (German Value-Added
        Tax Act): DE 314566027
      </p>
      <h3 class="text-xl font-bold">
        Responsible for the content according to § 55 Abs. 2 RStV (Interstate
        Broadcast Agreement)
      </h3>
      <p>Éanna de Fréine, Luxemburgerstr 30, 13353, Berlin, Germany</p>
      <h3 class="text-xl font-bold">Copyright of hosted images and graphics</h3>
      <p>
        All copyrights remain with the respective artists presented on this
        website.
      </p>
      <h3 class="text-xl font-bold">
        Alternative Dispute Resolution in accordance with Art. 14 (1) ODR-VO and
        § 36 VSBG:
      </h3>
      <p>
        The European Commission provides a platform for Online Dispute
        Resolution (ODR), which can be found at
        https://ec.europa.eu/consumers/odr. We are not obliged or willing to
        participate in a dispute resolution procedure before a consumer
        arbitration board.
      </p>
    </div>
  </div>
</Layout>
