
  <section class="grid place-items-center bg-primary-100">
    <p class="mx-auto whitespace-nowrap overflow-hidden py-1">
      <span class="inline-block pl-100 animate-marquee text-white text-xs">
        ++ Free Shipping Over €65 EU/UK ++
      </span>
    </p>
  </section>