<section class="grid place-items-center bg-primary-100 py-2">
  <!-- <p class="mx-auto whitespace-nowrap overflow-hidden py-1"> -->
  <span class="text-gray-400"> ++ Free Shipping Over €65 EU/UK ++</span>
  <!-- </p> -->
</section>
