<section class="relative flex overflow-x-hidden bg-primary-100 py-1 text-white">
  <div class="animate-marquee whitespace-nowrap">
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
  </div>

  <div class="absolute top-0 animate-marquee2 whitespace-nowrap py-12">
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
    <span class="text-sm text-gray-100">+ Free Shipping Over €65 EU/UK +</span>
  </div>
</section>
