---
import { data as links } from "../constants/collections";
---

<div class="relative overflow-hidden pt-4">
  <div
    class="no-scrollbar container flex flex-nowrap justify-start overflow-y-auto pl-6 md:justify-end"
  >
    {
      links.map((link) => (
        <div class="flex-shrink-0">
          <a
            href={link.path}
            class="ml-2 flex-shrink-0 p-0 capitalize text-gray-500 hover:text-primary-100"
          >
            {link.label}
          </a>
        </div>
      ))
    }
  </div>
  <div class="z-2 pointer-events-none absolute bottom-0 left-0 right-0 top-0">
    <div
      class="block h-full bg-gradient-to-l from-white via-transparent to-transparent sm:hidden"
    >
    </div>
  </div>
</div>
