---
import whiteLogo from '../assets/images/logo-version-white.png'
import { data as navLinks } from "../constants/footer-menu";

---

<div class="mb-0 bg-black">
    <div class="container flex items-center justify-center flex-col">
        <div class="mb-4">
            <a href="/">
              <img
                src={whiteLogo}
                alt="footer-logo"
              />
            </a>
          </div>
      <!-- <SocialLinks /> -->
      <div class="my-4">
        <ul class="flex items-center text-center gap-2 flex-col md:flex-row">
          {navLinks.map((link) => {
            return (
              <a
                href={link.path}
                class="text-white capitalize"
              >
                {link.label}
              </a>
            );
          })}
        </ul>
      </div>
      <div>&copy; 2010 - {new Date().getFullYear()} The Velvet Cell</div>
    </div>
  </div>