---
import { Image } from "astro:assets";
import whiteLogo from "../assets/images/logo-version-white.png";
import { data as navLinks } from "../constants/footer-menu";
---

<div class="mb-0 bg-black py-8">
  <div class="container flex flex-col items-center justify-center">
    <div class="mb-4">
      <a href="/">
        <Image src={whiteLogo} alt="footer-logo" />
      </a>
    </div>
    <!-- <SocialLinks /> -->
    <div class="my-4">
      <ul class="flex flex-col items-center gap-2 text-center md:flex-row">
        {
          navLinks.map((link) => {
            return (
              <a href={link.path} class="capitalize text-white">
                {link.label}
              </a>
            );
          })
        }
      </ul>
    </div>
    <div class="text-white">
      &copy; 2010 - {new Date().getFullYear()} The Velvet Cell
    </div>
  </div>
</div>
