---
import {Logo, Navigation} from "./index";
import logo from '../assets/images/logo.png'

import CartIcon from "./CartIcon.svelte";
---

<header class="sticky top-0 z-40 border-double border-b border-black">
  <div class="border-b bg-white/70 py-3 backdrop-blur-2xl">
    <nav class="container flex items-center justify-between">
      <div class="flex items-center gap-8">
        <a href="/">
          <span class="sr-only">Logo</span>
          <Logo {logo}/>
        </a>
        <Navigation />
      </div>
      <div class="justify-self-end">
          <CartIcon client:load />
      </div>
    </nav>
  </div>
</header>
