---
import {
  Logo,
  Navigation,
  MenuButton,
  MenuButton2,
  MobileLogo,
  Subtotal,
} from "./index";
import logo from "../assets/images/logo.png";
import CartIcon from "./CartIcon.svelte";
---

<header class="sticky top-0 z-40 border-b-2 border-black">
  <div class="border-b bg-white/70 py-3 backdrop-blur-2xl">
    <nav class="container flex items-center justify-between">
      <div class="flex items-center gap-8">
        <a href="/" class="hidden md:block">
          <Logo {logo} />
        </a>
        <a href="/" class="block md:hidden">
          <MobileLogo />
        </a>
        <Navigation />
      </div>
      <div class="flex items-center gap-2">
        <Subtotal client:idle />
        <CartIcon client:idle />
        <MenuButton2 />
        <!-- <MenuButton client:visible /> -->
      </div>
    </nav>
  </div>
</header>
