---
const categoryMap = {
  sale: "bg-purple-400",
  funding: "bg-green-400",
  new: "bg-primary-100",
  "sold out": "bg-red-400",
  "final copies": "bg-orange-400",
};

const { categories } = Astro.props;
const category = categories.find((cat) => Object.keys(categoryMap).includes(cat));

---

{category ? (<div
  class={`absolute top-0 right-0 block uppercase tracking-wider py-1 px-2 text-white text-xs rounded-bl-lg ${categoryMap[category]}`}
>
  {category}
</div>) : null}

