---
import { data as socialLinks } from "../constants/social-menu";
import { Icon } from "astro-icon";
---

<div>
  <ul class="flex justify-center gap-4">
    <!-- <Icon name="mdi:account" /> -->
    <!-- {
      socialLinks.map((link) => {
        return (
          <li>
            <a
              href={link.url}
              target="_blank"
              rel="noreferrer"
              class="text-white"
            >
              {link.icon}
            </a>
          </li>
        );
      })
    } -->
  </ul>
</div>
