---
import {
  AnnouncementBar,
  Header,
  Footer,
  CartDrawer,
  MobileMenu,
  MobileMenu2,
} from "../components";
import { ViewTransitions } from "astro:transitions";
const defaultDesc = `The Velvet Cell is an independent publishing house with a focus on urbanism and architecture. We publish works by world-renown photographers such as Peter Bialobrzeski, Alexander Gronsky, Toshio Shibata and Greg Girard, as well as many up and coming photographers of interest.`;

const { title, description = defaultDesc } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <style is:global>
      @import "../styles/global.css";
    </style>
  </head>
  <body x-data="{ showMenu: false }">
    <AnnouncementBar />
    <Header />
    <CartDrawer client:idle />
    <MobileMenu2 />
    <main>
      <slot />
    </main>
    <Footer />
    <ViewTransitions />
  </body>
</html>
